<h1>Thêm mới</h1>
<form action="/add" method="post">
    <table border="1">


        Phone:
        <input type="number" name="phone"><br> Password:
        <input type="text" name="password"><br> TypeRegister:
        <input type="text" name="register"><br> Full name:
        <input type="text" name="fname"><br> Type User:
        <input type="number" name="type"><br>


    </table>


    <!-- EnableFCM: <input type="number" name="enable"><br>
    Avarta: <input type="text" name="avarta"><br>
    Banner: <input type="text" name="banner"><br>
    Full name: <input type="text" name="fname"><br>
    Type User: <input type="number" name="type"><br> -->

    <button type="submit">Thêm</button>
</form>