<h1>Thêm user</h1>
<form action="/add" method="POST">
  IdDistrict: <input type="String" name="IdDistrict" /><br />
  IdVillage: <input type="String" name="IdVillage" /><br />
  Address: <input type="String" name="Address" /><br />
  IsGetNotification: <input type="String" name="IsGetNotification" /><br />
  IsVerified: <input type="String" name="IsVerified" /><br />
  IsGetOpen: <input type="String" name="IsGetOpen" /><br />
  <button type="submit">Thêm user</button>
</form>
